plotly------------------------v5.5.0
dash--------------------------v2.1.0
jupyter_dash------------------v0.4.0
dash.dcc----------------------v2.1.0
dash.html---------------------v2.0.1
pandas------------------------v1.1.5
numpy-------------------------v1.19.5
